@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  outline: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  border: none;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  background: #fcfcfc;
  width: 100%;
}

.prazos {
  display: flex;
  flex-wrap: wrap;
}

.prazo span {
  width: 30px;
  height: 30px;
  display: block;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
  font-size: 16px;
  width: 100%;
  padding: 10px;
  background: #eee;
  border-radius: 5px;
  transition: all 200ms linear;
}

input:active {
  transform: scale(0.96);
}

input:focus {
  background: #ddd;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.prazo label {
  padding-right: 10px;
}

.form {
  padding: 20px;
  width: 600px;
  max-width: 100%;
  margin: auto;
}

label span,
.label {
  font-size: 12px;
  color: #666;
}

.hidden {
  display: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feriados {
  padding: 10px 0;
}

.feriado {
  display: flex;
  align-items: center;
}

.feriado {
  background: #eee;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 5px;
}

.feriado {
  padding: 10px;
  display: block;
}

button {
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 200ms linear;
  font-weight: bold;
}

button:active {
  transform: scale(0.9);
}
button:hover {
  opacity: 0.6;
}

.botao-limpar {
  background: #dbdb53;
  margin-right: 10px;
}

.botao-calcular {
  background: #215d99;
  color: #fff;
}

.botao-info {
  background: #dee;
  color: #666;
  text-align: center;
  margin-bottom: 20px;
}

.botoes {
  display: flex;
  justify-content: flex-end;
}

footer {
  text-align: center;
}

.prazo-final {
  text-align: center;
  margin: 20px 0;
  font-size: 20px;
  background: #eed;
  border-radius: 5px;
  padding: 10px;
}

.feriados .label {
  margin-bottom: 10px;
}
