* {
	font-family: Arial, Helvetica, sans-serif;
	padding: 8px;
	border-radius: 10px;
}

h1 {
	margin-top: 15px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 50px;
	text-align: center;
}

h2 {
	margin-left: 10px;
	color: #f1f0ea;
	margin-bottom: 0px;
}

.informacoes {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #f1f0ea;
	font-size: 16px;
	text-align: justify;
	text-indent: 25px;
}

a {
	color: #f1f0ea;
}

a:hover {
	color: darkgray;
}

body {
	background-image: linear-gradient(to right, #2d232e, #474448, #534b52);
}

.form-group {
	background-color: #d5bf86;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 400px;
	padding: 30px;
	margin: auto;
	text-align: justify;
	font-size: 20px;
	box-shadow: 5px 5px 20px black;
}

#city, #start-date, #days-to-add-dropdown {
	background-color: #e0ddcf;
	font-size: 16px;
	box-shadow: 5px 5px 10px rgb(75, 75, 75);
	margin-bottom: 10px;
}

#outro-quantidade {
	font-size: 20px;
	text-align: left;
}

#days-to-add-custom {
	background-color: #e0ddcf;
	font-size: 16px;
	box-shadow: 5px 5px 10px rgb(75, 75, 75);
	width: 120px;
}

button {
	margin-bottom: 20px;
	text-align: left;
	width: 150px;
	background-color: #c4a149;
	font-size: 16px;
	font-weight: bold;
	box-shadow: 5px 5px 10px rgb(75, 75, 75);
}

button:active {
	transform: scale(0.98);
	box-shadow: 3px 3px 7px rgb(75, 75, 75);
}

span {
	padding: 0;
	margin-left: 0;
	font-size: 16px;
}

footer {
	margin-top: 60px;
	color: grey;
}

.destaque {
	font-weight: bold;
}