<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="icon" type="image/jpeg" href="../static/favicon.png" />
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<script src="../static/js/scripts.js" th:src="@{../static/js/scripts.js}"></script>
	<script src="../static/js/cidades.js" th:src="@{../static/js/cidades.js}"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5541949529539970"
		crossorigin="anonymous"></script>
	<title>Calculadora de Prazos</title>
</head>

<body onload="loadMunicipios()" class="center">

	<div class="form">
		<h1>Calculadora de prazos processuais</h1>
		<h2>Digite a data de seu prazo inicial e a quantidade de dias do seu prazo</h2>

		<!-- 	AVISO DE URGENCIA	-->
		<div class="manutencao">
			<p><span class="aviso">ATENÇÃO:</span><br>
			<ul>				
				<li>
					Conforme publicação no DJE de 03/10/2023 (migracao de processos da execução criminal) algumas  pesquisas de prazos da área cível também foram afetados, causando resultados imprecisos, já que o sistema foi projetado para acompanhar a página do TJ-SP de forma dinâmica. <br>
					Peço que se atentem às pesquisas próximas ao período do mês de outubro e que aguardem a correção que será feita o mais breve possível.					
				</li>
			<p>Obrigado pela paciência e compreensão.</p>
			<p>Qualquer dúvida e sugestão, fiquem a vontade para me contatar através do e-mail abaixo.</p>
			</ul>

			</p>
		</div>
		<!-- Data Inicial -->
		<div class="input-group">
			<label>
				<span>Data Inicial</span>
				<input type="date" id="start-date" required>
			</label>
		</div>

		<!-- City input -->
		<div class="input-group">
			<label>
				<span>Cidade</span>
				<select id="city"></select>
			</label>
		</div>

		<!--Cível / penal radio buttons-->
		<div class="input-group">
			<div class="label">Prazo processual:</div>
			<div class="prazos">
				<div class="prazo">
					<input type="radio" name="processual" id="civel" value="civel" checked>
					<label for="civel">Processual Cível</label>
				</div>
				<div class="prazos">
					<input type="radio" name="processual" id="penal" value="penal">
					<label for="penal">Processual Penal</label>
				</div>
			</div>
		</div>
		<!-- Prazos -->
		<div class="input-group">
			<div class="label">Prazo</div>
			<div class="prazos">
				<div class="prazo"><input name="dias" onchange="setDaysByRadioButton(5)" id="5dias" value="5"
						type="radio"><label for="5dias">5 dias</label></div>
				<div class="prazo"><input name="dias" onchange="setDaysByRadioButton(15)" id="15dias" value="15"
						type="radio"><label for="15dias">15 dias</label></div>
				<div class="prazo"><input name="dias" onchange="setDaysByRadioButton(30)" id="30dias" value="30"
						type="radio"><label for="30dias">30 dias</label></div>
				<div class="prazo"><input name="dias" onchange="setDaysByRadioButton(60)" id="60dias" value="60"
						type="radio"><label for="60dias">60 dias</label></div>
				<div class="prazo"><input name="dias" onchange="setDaysByRadioButton(null)" id="outro"
						type="radio"><label for="outro">Outro</label></div>
			</div>
		</div>

		<!-- Outro prazo -->
		<div class="input-group outro hidden">
			<div class="outro">
				<label>
					<span>Outro dia</span>
					<input type="number" min="1" id="prazo-value" class="outro-prazo-input" onchange="setDaysByOther()"
						placeholder="Outro dia">
				</label>
			</div>
		</div>

		<!-- Botão -->
		<div class="botoes">
			<button class="botao-limpar" onclick="window.location.reload()">Limpar</button>
			<button class="botao-calcular" onclick="sendData()">Calcular</button>
		</div>

		<!-- exibição dos feriados gerados dinamicamente -->
		<div id="prazo-final" class="prazo-final hidden">
			<div class="label">Prazo Final</div>
			<div id="prazo-final-data" class="prazo-final-data"></div>
		</div>

		<div id="feriados" class="feriados hidden">

		</div>

		<div class="center">
			<button class="botao-info" onclick="toggleInfo()">Mostrar informações</button>
		</div>

		<div class="informacoes hidden">
			<div class="informacoes">
				<article>
					<p>
						O sistema acima é uma ferramenta simples, não oficial, para consulta de prazos processuais
						cíveis no
						âmbito do
						Tribunal
						de Justiça
						do Estado de São Paulo, para auxiliar advogados, serventia e colegas de trabalho na contagem de
						prazos.
						O resultado informado é calculado em dias úteis e com base na tabela de feriados e suspensão de
						prazos do
						site do <a href="https://www.tjsp.jus.br/CanaisComunicacao/Feriados/ExpedienteForense"
							target="_blank" rel="external">Tribunal de Justiça</a> de acordo com cada região.<br>
					</p>
					<p>
						No campo "Data inicial", digite a data do início do prazo, que poderá ser a data da publicação
						no
						DJE, data
						da juntada do Mandado ou AR, ou data da ciência do Ministério Público ou Defensoria no
						portal.<br>
						Caso a data inicial coincida com feriado ou final de semana, o sistema automaticamente irá
						considerar o
						próximo dia útil subsequente no cálculo.
					</p>
					<p><strong>Atenção</strong>: Verifique <a
							href="https://www.tjsp.jus.br/Indisponibilidade/Comunicados" target="_blank"
							rel="external">neste link</a> se a data do seu prazo final se enquadra em algumas das
						situações
						de indisponibilidade
						de
						sistemas, caso em que o prazo final será prorrogado para o dia útil seguinte á retomada de
						funcionamento do
						serviço (<em>Artigo 3º do Provimento CG Nº 26/2013</em>).</p>
				</article>
			</div>
		</div>

		<footer>
			<div>Criado por Guilherme Pedroza</div>
			<div>colaboração: Anderson Freitas</div>
			<br>
			<div>contato gpedroza@tjsp.jus.br</div>
		</footer>
	</div>
</body>

</html>